<div class="footer-end">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <p>THƯƠNG HIỆU</p>
        <div>
          <ul>
            <li><a href="">Về chúng tôi</a> </li>
            <li><a href="">Hệ thống cửa hàng</a> </li>
            <li><a href="">Chương trình Membership</a> </li>
            <li><a href="">Xem đánh giá khách hàng</a> </li>
            <li><a href="">Chương trình trồng cây TOBI & GreenWalker</a> </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <p>CHÍNH SÁCH</p>
        <div>
          <ul>
            <li><a href="">Hình thức thanh toán</a> </li>
            <li><a href="">Chính sách bảo mật</a> </li>
            <li><a href="">Chính sách giao hàng</a> </li>
            <li><a href="">Chính sách đổi trả</a> </li>
            <li><a href="">Hướng dẫn mua hàng trực tuyến</a> </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 end">
        <p>GIẤY PHÉP KINH DOANH</p>
        <div>
          <ul>
            <li><a href="">Hộ kinh doanh: TOBI; Giấy Phép: Số 32A802531, Ngày cấp 20/10/2016 tại Đà Nẵng.</a> </li>
            <li><a href="">Chủ hộ: Đào Phương Dung; Mã số thuế: 040179734, Ngày cấp: 25/10/2016 tại Đà Nẵng,
                0935443164</a> </li>
            <li><a href="">Trụ sở: 366 Phan Châu Trinh, Hải Châu, Đà Nẵng
                Email: hello@tobistreetwear.com</a> </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="text-end">
    <p>© 2022 TOBI STREETWEAR. ALL RIGHTS RESERVED
      <br>
      In collaboration with HEIZO AGENCY
    </p>
  </div>
</div>
