.container {
  max-width: 90%;
}

.text-shop a span:hover {
  border-bottom: 2px solid #111111;
  line-height: 1.2;
}

h5 {
  font-size: 14px;
}

.card-body {
  text-align: left;
  position: relative;
  line-height: 1.2;
  font-size: 13px;
}

.anh2 {
  display: none;
}

.card:hover .anh2 {
  display: block;
}

.card:hover .anh1 {
  display: none;
}

.text-shop {
  text-align: center;
  padding: 50px;
}

h1 {
  font-family: 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
  font-weight: 1000;
  font-size: 28px;
}

.text-shop a {
  margin: 0px 10px;
  text-decoration: none;
  color: #555555;
  position: relative;
  font-weight: 700;
  font-family: 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
  font-size: 14px;

}

.text-shop a:hover {
  color: #111111;
}

.footer-end {
  width: 100%;
  height: 421px;
  background-color: black;
  margin-top: 50px;
}

.footer-end .col-lg-4 {
  margin-top: 50px;

}

.col-lg-4 {
  color: white;
  font-family: 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
}

.col-lg-4 ul li {
  display: block;
  color: currentColor;
  padding: 4px 0;
}

.col-lg-4 ul li a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin-left: 40px;
}

.col-lg-4 p {
  margin-bottom: 20px;
  margin-left: 40px;
  font-size: .8em;
}

.end ul li {
  margin: 20px 0px;
  margin-left: -90px;
}

.end p {
  margin-left: -52px;

}

.text-end p {
  margin-top: 50px;
  text-align: center;
  color: white;
  font-size: 13px;
}

.end-check {
  display: flex;
  margin-top: -35px;
  margin-bottom: 150px;
}

.end-check a {
  text-decoration: none;
  color: #000000;
  margin-left: 15px;
  margin-top: -1px;
}

.end-check i {
  font-size: 19px;
  margin-top: 3px;
}

.card-title {
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
}

.start i {
  color: #dcbf83;
  font-size: 13px;
  padding: 2px;
  margin-top: -15px;
}

.start span {
  font-size: 15px;
  margin-left: 5px;
}

.fa-star {
  color: #dcbf83 !important;
}

.card {
  border: none;
  background: #f1f0ec;
  margin-bottom: 100px;
}

.card-text {
  font-size: 15px;
}

.text-shop span {
  cursor: pointer;
}

.nav-item {
  display: inline-block;
  padding: 0px 13px;
}

.card-text {
  cursor: pointer;
}

#accordionFlushExample {
  width: 515px;
  float: right;
  /* margin-top: 55px; */
  background: #f1f0ec;

}

.accordion-collapse {
  width: 550px;
  background: #f1f0ec;
  z-index: 1000 !important;
}


.accordion-button {
  background-color: #f1f0ec !important;
  border-bottom: 1px solid #060606;
  border-radius: none !important;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion-button:not(.collapsed)::after {
  color: #111111 !important;
  transform: rotate(-180deg);
}

.accordion-button:focus {

  /* border-color: black !important; */
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #000000;
  background-color: #e7f1ff;
}

