 <div class="container">
   <div class="text-shop">
     <!-- <h1>SHOP</h1> -->
     <div class="accordion accordion-flush" id="accordionFlushExample">
       <div class="accordion-item">
         <h2 class="accordion-header" id="flush-headingOne">
           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
             data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
             Filter
           </button>
         </h2>
         <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
           data-bs-parent="#accordionFlushExample">
           <a><span (click)="add()">ALL</span></a>
           <li class="nav-item" *ngFor="let item of cate">
             <a class="nav-link active" (click)="fillterpro(item.id)"><Span>{{item.name}}</Span></a>
           </li>
         </div>
       </div>
     </div>
     <!-- <a><span (click)="add()">ALL</span></a>
     <li class="nav-item" *ngFor="let item of cate">
       <a class="nav-link active" (click)="fillterpro(item.id)"><Span>{{item.name}}</Span></a>
     </li> -->
     <!-- <a><span>Shirts</span></a>
     <a><span>Pants</span></a>
     <a><span>Hoodies</span></a>
     <a><span>Polo</span></a> -->
   </div>
   <div class="end-check">
     <i class="fa-solid fa-angle-left"></i>
     <a routerLink="/">Back to home</a>
   </div>

   <div class="row">
     <div class="col-lg-3 mb-3 " *ngFor="let item of listProduct">
       <div class="card animate__animated">
         <img class="card-img-top anh1" src="{{item.avatar1}}" alt="">
         <img class="card-img-top anh2" src="{{item.avatar2}}" alt="">
         <div class="card-body">
           <p class="card-text" routerLink="/detail/{{item.id}}">{{item.title}}</p>
           <div class="start">
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <span>{{item.danhgia}} đánh giá</span>
           </div>
           <h4 class="card-title">{{item.content}}đ
           </h4>
         </div>
       </div>
     </div>
   </div>
 </div>
