 <div class="container">
   <div class="row ">
     <div class="col-lg-6">
       <img src="{{detail.avatar1}}" class="img-details anh1" alt="" style="width: 570px;height:650px;">
       <img src="{{detail.avatar2}}" class="img-details anh2" alt="" style="width: 570px;height:650px;">
     </div>
     <div class="col-lg-6 details-text">
       <h5>{{detail.title}}</h5>
       <div class="start">
         <i class="fa-solid fa-star"></i>
         <i class="fa-solid fa-star"></i>
         <i class="fa-solid fa-star"></i>
         <i class="fa-solid fa-star"></i>
         <i class="fa-solid fa-star"></i>
         <span>{{detail.danhgia}} đánh giá</span>
       </div>
       <p>{{detail.content}}đ</p>
       <span>Phí vận chuyển được tính tại bước thanh toán.</span>

       <div class="dt-size">
         <p>S I Z E:</p>
         <button class="btn-size active" data-size="S" (click)="size('S')" tabindex="1">S</button>
         <button class="btn-size" data-size="M" (click)="size('M')" tabindex="2">M</button>
         <button class="btn-size" data-size="L" (click)="size('L')" tabindex="3">L</button>
         <button class="btn-size" data-size="XL" (click)="size('XL')" tabindex="4">XL</button>
       </div>
       <hr>
       <div class="des">
         <p>Form:<strong>Dáng Boxy</strong></p>
         <p>Định Lượng:<strong>280gsm</strong></p>
         <p>Chất Lượng:<strong>100% Cotton - 2 Chiều</strong></p>
         <br>
         <p>Bo cổ dệt định lượng dày, chắc chắn, chống nhão, co rút sau khi giặt.
           Dáng boxy chia tỉ lệ vàng cơ thể 1/3.
           In phồng, nhũ bạc</p>
         <hr>
       </div>
       <div class="row buy mb-5 mt-5">
         <p>A M O U N T:</p>
         <div class="input">
           <button class="btn-fake left_ip text-center" (click)="mark('-')">-</button>
           <input type="munber" value="1" id="quantily" style="text-align: center;">
           <button class="btn-fake right_ip text-center" (click)="mark('+')">+</button>
         </div>
         <div id="rateYo" class="star ml-5"></div>
       </div>
       <div class="add-details">
         <button (click)="addCart()">THÊM VÀO GIỎ HÀNG</button>
       </div>
       <div class="buy-details mt-2">
         <button>BUY IT NOW</button>
       </div>
     </div>

   </div>
   <div class="about">
     <h4 class="text-center">You may also like</h4>
     <div class="row">
       <div class="col-lg-3">
         <div class="card" style="width: 18rem;">
           <img src="../../assets/IMG/aoden1.webp" class="card-img-top anh1" alt="...">
           <img src="../../assets/IMG/aoden2.webp" class="card-img-top anh2" alt="...">
           <div class="card-body">
             <h5 class="card-title">TOBI Waffle Short - Black</h5>
             <p class="card-text">390.000đ</p>
           </div>
         </div>
       </div>
       <div class="col-lg-3">
         <div class="card" style="width: 18rem;">
           <img src="../../assets/IMG/aoolive1.webp" class="card-img-top anh1" alt="...">
           <img src="../../assets/IMG/aoolive2.webp" class="card-img-top anh2" alt="...">
           <div class="card-body">
             <h5 class="card-title">TOBI Waffle T- shirt - Olive</h5>
             <p class="card-text">390.000đ</p>
           </div>
         </div>

       </div>
       <div class="col-lg-3">
         <div class="card" style="width: 18rem;">
           <img src="../../assets/IMG/abaggytrang1.webp" class="card-img-top anh1" alt="...">
           <img src="../../assets/IMG/abaggytrang2.webp" class="card-img-top anh2" alt="...">
           <div class="card-body">
             <h5 class="card-title">Double Knee Jeans SS22 - White</h5>
             <p class="card-text">680.000đ</p>
           </div>
         </div>

       </div>
       <div class="col-lg-3">
         <div class="card" style="width: 18rem;">
           <img src="../../assets/IMG/hdx1.webp" class="card-img-top anh1" alt="...">
           <img src="../../assets/IMG/hdx2.webp" class="card-img-top anh2" alt="...">
           <div class="card-body">
             <h5 class="card-title">Suede Boxy Hoodie - Royal Blue</h5>
             <p class="card-text">580.000đ</p>
           </div>
         </div>

       </div>
     </div>

   </div>
 </div>
